&pio {
	pd2250_clk_spi_mode: clk_mode_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO97__FUNC_SPI4_CLK>;
			drive-strength = <1>;
		};
	};

	pd2250_mosi_spi_mode: mosi_mode_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO13__FUNC_SPI4_MO>;
			drive-strength = <0>;
		};
	};
};

&spi4 {
	status = "okay";
	vts_device@0 {
		compatible = "vivo,ts-spi";
		status = "okay";
		reg=<0>;
		spi-max-frequency = <4800000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pd2250_clk_spi_mode &pd2250_mosi_spi_mode>;

		chipone {
			compatible = "chipone,cts_nl9911c_spi";
			status = "ok";
			vts-type=<0>;
			vts-ic-number=<110>;
			spi-max-frequency = <9600000>;	//4800000,9600000,15000000,19200000
			chipone,rst-gpio = <&pio 186 0x00>;
			chipone,cs-gpio = <&pio 98 0x00>;
			chipone,miso-gpio = <&pio 12 0x00>;
			chipone,irq-gpio = <&pio 14 0x2001>;
			chipone,x-res = <720>;
			chipone,y-res = <1600>;

			sensor-test-key="com.touchscreen.chipone:MainActivity:android.intent.action.chipone:0:testResult";
			rawdata-test-key="com.touchscreen.chipone.icnl9911c:DataShowActivity:null:null:null";
			lcm-noise-test-key="com.touchscreen.chipone.vivo_noise:NoiseActivity:null:null:null";
			rf-noise-test-key="com.touchscreen.chipone.vivo_noise:BspTestActivity:action_noise_test:0:result";
		};
	};
};

&touchscreencfg {
	compatible = "vivo,touchscreen-config";
	vivo,ts-product-name="PD2250";
	status = "okay";

	tp_module1{
		compatible = "vivo,touch-panel-module";
		vts-ic-number=<110>;
		vts-type=<0>;
		vts-lcmid=<49 255>;// 0x31 INCL 9911  1211860
		vts-dimention-x=<720>;
		vts-dimention-y=<1600>;
		vts-tx-sensors=<18>;
		vts-rx-sensors=<32>;
		vts-incell=<1>;
		vts-need-caliberation=<0>;
		vts-virtual-proximinity=<0>;
		vts-long-press=<0>;
		vts-module-vendor=<0xF0>;
		vts-no-flash=<1>;
		vts-game-mode=<1>;
		vts-game-idle-time=<10>;
		vts-game-save-power=<1>;
		vts-no-flash-unique-code=<1>;
		vts-set-card-region=<1>;
		vts-set-card-region-width = <200>;
		vts-gesture=<1>;
		vts-screenshot-triger=<1>;
		vts-debug-cust=<1>;
		vts-record=<0x20>;
	};
};

/ {
	fragment@touch {
		target-path = "/";
		__overlay__ {
			mobileevent {
				status = "okay";
				compatible = "vivo,mobile_event";
				vivo-i2c-event=<1>;
				vivo-channel-broken=<1>;
				vivo-click-event=<1>;
				vivo-unexpected-reset-event=<1>;
				vivo-log-system=<0>;
				vivo-prox-near=<0>;
				vivo-ng-panel-detect=<1>;
				vivo-ic-mode=<1>;
				vivo-int-cost=<1>;
				vivo-large-press-event=<1>;
				vivo-multi-touch=<1>;
				vivo-press-area=<1>;
				vivo-edge-reject-fail=<1>;
				vivo-resume-to-touch=<1>;
				vivo-handler-cost=<1>;
				vivo-five-more-touch=<1>;
				vivo-game-touch-info=<1>;
			};
		};
	};
};


